{% extends 'base.html' %}
{% load static %}
{% block main %}
 <body bgcolor="000000">
 <body bottommargin="E6E6FA"
<p>

<font size="40" face="Verdana" 	color='000000'>
<center><h3>TAcar - Estacionamento</h3>
 </font>
</p>
</center>
<font size="2" face="Verdana" 	color='000000'>
{% if user.get_username %}

{% endif %}

</font>
</p>
    <p>
<font size="2" face="Verdana" 	color='000000'>

</font>
</p>
    <center> <img src="{% static 'img/fundo2.png' %}" width="800">

   </p>

    <p>

   </font>
   </p>


































{% endblock %}
