{% extends 'base.html' %}
{% load static %}
{% block main %}


{% for msg in messages %}
<div class="alert alert-success alert- dismissible">

</div>
{{ msg }}
<button class="close">&times;</button>
{% endfor %}

<ul class="list-group list-group-horizontal">
    {% for i in dados %}
      <li class="list-group-item">
          Nome : {{ i.nome }} <br>
          {% if i.endereco %}
               Endereço: {{ i.endereco}} <br>
          {% else %}
               Endereço: <br>
          {% endif %}
          {% if i.complemento %}
               Complemento: {{ i.complemento }} <br>
          {% else %}
               Complemento: <br>
          {% endif %}

          {% if i.bairro %}
               Bairro: {{ i.bairro }} <br>
          {% else %}
                Bairro: <br>
          {% endif %}
          {% if i.cidade %}
                Cidade: {{ i.cidade }} <br>
          {% else %}
                Cidade:<br>
          {% endif %}
          {% if i.cep %}
                CEP: {{ i.cep }} <br>
          {% else %}
                 CEP: <br>
          {% endif %}
          E-mail: {{ i.email }} <br>
          {% if i.telefone %}
                 Telefone: {{ i.telefone }} <br>
          {% else %}
                  Telefone:<br>
          {% endif %}


          {% if i.foto %}
             <img src="{{ i.foto.url }}" width="200"> <br>
          {% else %}
             <img src="{% static 'img/perfil_generico.png' %}" width="200"> <br>
          {% endif %}

          <a href="/altera_cliente/{{i.id }}/"><i class="fa fa-edit"></i></a>
          <a href="/excluir_cliente/{{ i.id }}"><i class="fa fa-trash"style="font-size:30px;color:red"></i></a>

</li>
    {% endfor %}
</ul>
 </font>
</p>




{% endblock %}
